---
import Base from '../../../layouts/Base.astro';
import NodeList from '../../../components/NodeList.astro';
import { getNodesByTag, getVisibleNodes } from '../../../lib/content';

export async function getStaticPaths() {
  const all = await getVisibleNodes();
  const tags = [...new Set(all.flatMap((node) => node.data.tags))];

  return Promise.all(tags.map(async (tag) => ({
    params: { tag },
    props: { nodes: await getNodesByTag(tag, all) },
  })));
}

const { tag } = Astro.params;
const { nodes } = Astro.props;
---
<Base title={`Etiqueta ${tag} · SciFi Vault`}><p class="kicker">Etiqueta</p><h1>#{tag}</h1><NodeList nodes={nodes}/></Base>
