---
import Base from '../../../layouts/Base.astro';
import NodeList from '../../../components/NodeList.astro';
import { getNodesByType } from '../../../lib/content';
import { typeLabels, type NodeType } from '../../../lib/taxonomy';

export async function getStaticPaths() {
  return Promise.all((Object.keys(typeLabels) as NodeType[]).map(async (type) => ({
    params: { type },
    props: { nodes: await getNodesByType(type) },
  })));
}

const { type } = Astro.params;
const { nodes } = Astro.props;
---
<Base title={`${typeLabels[type]} · SciFi Vault`}><p class="kicker">Tipo</p><h1>{typeLabels[type]}</h1><NodeList nodes={nodes}/></Base>
